<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="style.css">
    <link href="{{url_for('static',filename='style.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Urbanist' rel='stylesheet'>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/wow.min.js"></script>
    </head>

        <body>
            <div class="ya">
    
             

    <div class="shaan">
    {% if nice ==True %}
     <p> Tested eye with Cataract of</p>
{% else %}
     <p> You've got cataract percent of </p>
{% endif %}
</div>
<div class="ohhh">{{noice}}%<br></div>
<br>
    <div class="siuuu">
        <a href="sema"><button class="button accept-btn" onclick="addAnimation2()">View report</button></a>
    </div>
</div>
</div>
        </body>
    </html>