
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');


body{
    background-image: url(image.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.page1{
    /* From https://css.glass */
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
background: rgba(255, 255, 255, 0.5);
border-radius: 6px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.2px);
-webkit-backdrop-filter: blur(5.2px);
border: 1px solid rgba(255, 255, 255, 0.22);
}

.htop p{
    padding-left: 50px;
    font-family: 'Lato', sans-serif;
    font-weight:900;
}

.htop2 h1{
    padding-left: 50px;
    font-family: 'Lato', sans-serif;
    font-weight:500;
    
}

.htop3 p{
    padding-left: 50px;
    font-family: 'Lato', sans-serif;
    

}

.bt2 .bt2-1{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.29);
border-radius: 16px;
box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.9px);
-webkit-backdrop-filter: blur(4.9px);
border: 1px solid rgba(255, 255, 255, 0.22);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height:200px;
    width:400px;
    
}

.bt2 .bt2-1:hover {background-color: grey}

.bt2 .bt2-1:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.ooms{
    margin-left: 700px;
    position: relative;
  bottom: 200px;
     /* From https://css.glass */
background: rgba(255, 255, 255, 0.29);
border-radius: 16px;
box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.9px);
-webkit-backdrop-filter: blur(4.9px);
border: 1px solid rgba(255, 255, 255, 0.22);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height:200px;
    width:400px;
    

}
.ooms:hover {background-color: grey}

.ooms:active {
    background-color: purple;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .file-input-wrapper>input[type="file"] {
    font-size: 40px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
  }
  
.bt2{
    margin-left: 700px;
    position: relative;
  bottom: 200px;
}

/* input[type=file]::file-selector-button { */
    
    /* opacity: 0; */
  /* } */
  .bt2-0{
    background-color: rgb(180, 176, 176); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .bt2-0:hover {background-color: rgb(84, 84, 84)}

.bt2-0:active {
  background-color:  rgb(84, 84, 84);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.vr{
  position: relative;
  left: 870px;
  top: 120px;
}

.vr button{

  background-color: #6c6f6c;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  
  
}


.galh h1{
  font-family: 'Lato', sans-serif;
  font-weight:500;

}



